.containerConductora{
    display: flex;
    flex-direction: column;
    width: 97%;
    height: auto;
    margin:  2rem ;
}

.introCond{
    display: flex;
    flex-direction: row;
    width: 90%;
    height:fit-content;
    justify-content: space-between;
    margin-left: 2rem;
}

.leftCond{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.leftCond h1{
    font-size: 50px;
}

.rightCond img{
    border-radius: 20px;
    filter:brightness(.8);

}

.requisitosCond{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.reqCond{
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}
.reqCond2{
    display: none;
}

.infoReq{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.leftReq{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .containerConductora{
        width: 100%;
        margin:  1rem ;
    }
    
    .introCond{
        width: 90%;
        margin: 1rem;
    }
    
    .leftCond{
        gap: 2rem;
    }
    
    .leftCond h1{
        font-size: 35px;
    }
    
    .rightCond img{
        display: none;
    
    }
    
    .requisitosCond{
        transform: scale(.8);
        gap: 2rem;
        margin-top: 0rem;
        margin-bottom: 3rem;
    }
   
    
    .reqCond2{
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }
    .reqCond{
        display: none;
    }
    
    .infoReq{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: -1rem;
    }
    
    .leftReq{
        display: flex;
        flex-direction: column;
    }
}

