.container-inicio{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    height: 65vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.75rem;
    background-color: var(--background);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    width: 25rem;
    margin-left: 1rem;
  }
  
  .header {
    position: relative;
    margin: 10px;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputs {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .input {
    font-size: .9rem;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: rgb(231, 231, 231);
    outline: none;
    padding: 0.7em;
    transition: .4s ease-in-out;
  }
  
  .input:hover {
    box-shadow: 6px 6px 0px #969696,
               -3px -3px 10px #ffffff;
  }
  
  .input:focus {
    background: white;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  }



  .sigin-btn {
    text-transform: uppercase;
    margin-top: 1em;
    align-self: center;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: linear-gradient(#8C4AFF, #EE9CDA);
    color: #ffffff;
    transition: .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  }
  
  .sigin-btn:hover {
    box-shadow: 6px 6px 0px #969696,
               -3px -3px 10px #ffffff;
    transform: translateX(-0.5em) translateY(-0.5em);
  }
  
  .sigin-btn:active {
    transition: .2s;
    transform: translateX(0em) translateY(0em);
    box-shadow: none;
  }
  
  .signup-link {
    line-height: 1.5;
    font-weight: 300;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-link a, .forget {
    line-height: 1.5;
    font-weight: 700;
    font-size: .875rem;
    margin-left: .25rem;
    color: var(--purple2);
  }
  
  .forget {
    text-align: right;
    font-weight: 600;
  }

  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
  }
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
  }
  
  #google-btn {
    display: flex;
    justify-content: center;
  }