.containerViajes{
    width: 100%;
    height: 100%;
}
.containerRutas{
    width: 1600px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.map{
    margin-left: 200px;
    position: fixed;
    width:100%;
    height: 100%;
}
.mapRuta{
    margin-left: 30px;
    width:50%;
    height: 100%;
}

.mapContainer{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.mapContainerRutas{
    width: 100%;
    height: 100%;
    z-index: -1;
 
}

.rightViajes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: fit-content;
    top: 2rem;
    margin: 1rem .5rem;
    position: absolute;
    z-index: 1;
}
.ruta{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: fit-content;
    margin: 1rem .5rem;
    z-index: 1;
    
}
.ruta.form{
    padding: 2rem 3rem;
    
}

.rightViajes.form{
    padding: 2rem 3rem;

}

.rightViajes .sigin-btn{
    padding: .5rem;
    font-size: 15px;
    width: 12rem;


}
.rightViajes p{
    font-size: 11px;
    margin-top: -1.5rem;
    margin-left: 1rem;
}

.result{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.result p{
    font-size: 12px;
    margin: 0;
}
.costo{
    display: flex;  
    align-items: center;
}

#costo{
    margin-left: 1rem;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background:rgb(231, 231, 231);
    padding: 0 1rem;
}

#li{
    margin-left: -2rem;
    color: var(--purple2);
    cursor: pointer;
}

.eliminarBtn{
    display: none;
}

.inputPlaces{
        font-size: .9rem;
        border-radius: 10px;
        border: 1px solid whitesmoke;
        background-color: rgb(231, 231, 231);
        outline: none;
        padding: 0.7em;
        transition: .4s ease-in-out;
        width: 12rem;
    
}
      
.inputPlaces:hover {
box-shadow: 6px 6px 0px #969696,
            -3px -3px 10px #ffffff;
}

.inputPlaces:focus {
background: white;
box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}


@media screen and (max-width: 768px) {
    .map {
    margin-left: 36px;
    }
    .rightViajes{
        transform: scale(.9);
        margin-top: -3rem;
        max-width: 250px;
    }
    .rightViajes.form{
        padding: 1rem 2rem;
    }

    .result{
        padding:  4rem 0  1rem 1rem;
        margin-top: -20rem;
        height: 13rem;
        width: 18rem;
        background: var(--background);
        z-index: 1;
    }
    .containerRutas{
        width: 375px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
    .mapRuta{
        margin-left: 0;
        width:95%;
        height: 100%;
    }
}