.containerViajes{
    width: 100%;
    height: 100%;
}

.map{
    margin-left: 200px;
    position: fixed;
    width:100%;
    height: 100%;
}

.mapContainer{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.rightViajes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: fit-content;
    top: 2rem;
    margin: 1rem .5rem;
    position: absolute;
    z-index: 1;
}

.rightViajes.form{
    padding: 2rem 3rem;

}

.rightViajes .sigin-btn{
    padding: .5rem;
    font-size: 15px;
}
.rightViajes p{
    font-size: 11px;
    margin-top: -1.5rem;
    margin-left: 1rem;
}

.result{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.result p{
    font-size: 12px;
    margin: 0;
}
.costo{
    display: flex;  
    align-items: center;
}

#costo{
    margin-left: 1rem;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background:rgb(231, 231, 231);
    padding: 0 1rem;
}

#li{
    margin-left: -2rem;
    color: var(--purple2);
    cursor: pointer;
}

.eliminarBtn{
    display: none;
}

@media screen and (max-width: 768px) {
    .map {
    margin-left: 36px;
    }
    .rightViajes{
        transform: scale(.9);
        margin-top: -3rem;
        max-width: 250px;
    }
    .rightViajes.form{
        padding: 1rem 2rem;
    }
}