.sideBar{
    position:fixed;
    text-align: center;
    background: linear-gradient(var(--purple2), var(--pink1), var(--pink3));
    color: white;
    width: 200px;
    height:100%;
    border-right: solid var(--purple1) 1px ;
}


.sideBar.conductora {
  background: linear-gradient( var(--purple3),var(--purple2),var(--purple1));
}


.sideBar ul li {
    border-bottom: 1px solid var(--yellow);
    padding: 15px 10px;
}

.sideBar ul li span{
   color: white;
}
.sideBar ul li span:hover{
    color: var(--yellow);
}

.user-profile{
    margin-top: 1rem;
    align-items: center;
}

.side-nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2rem;
}

.side-navBar {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -2rem;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .sideBar{
    position:fixed;
    text-align: center;
    background: linear-gradient(var(--purple2), var(--pink1), var(--pink3));
    color: white;
    width: 200px;
    height:100%;
    border-right: solid var(--purple1) 1px ;
    transform: translateX(-82%);
   transition: 0.3s ease all;

    z-index: 1;
}

  .sideLine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 20px;
    margin-top: 10px;
    margin-left: 170px;
    cursor: pointer;
    z-index: 3;
  }

  .sideLine .line {
    width: 100%;
    height: 2px;
    background-color: var(--purple1);
    transition: background-color 0.3s ease;
  }

  .sideBar.open {
  transform: translate(0) !important;
  transition: 0.3s ease all;
  }
  
  .side-nav,
  .side-navBar,
  .user-profile{
    transform: translateX(-15%) ;
  }
  .side-nav.open,
  .side-navBar.open,
  .user-profile.open{
    transform: translateX(0) ;
    ;
  }

  .sideLine.open .line:nth-child(2) {
    opacity: 0;
  }

  .sideLine.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 8px);
  }

  .sideLine.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
  }
}
